<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">>
    <title>VCSBot</title>
</head>

<body>
    <div class="container mx-auto mt-12">
        <header class="flex justify-between items-center">
            <div>
                <h1 class="font-bold text-2xl">VCSBot</h1>
            </div>
            <ul class="flex">
                <li>
                    <a href="index.html" class="px-4 py-2">Home</a>
                </li>
                <li>
                    <a href="#" class="px-4 py-2">About</a>
                </li>
                <li>
                    <a href="#" class="px-4 py-2">Algorithm used</a>
                </li>
                <li>
                    <a href="#" class="px-4 py-2">Contact</a>
                </li>
            </ul>
        </header>
        <div class="flex item-center">
            <div class="w-1/2 p-24 py-32">
                <h1 class="text-6xl font-bold leading-none">
                    Hello Nerds
                </h1>
                <p class="leading-relaxed mt-6 text-gray-600">
                    Lorem Ipsum is simply dummy text of the <strong>printing</strong> and <strong>typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <button class="border-4 border-yellow-300 font-semibold bg-yellow-300 text-black-700 rounded-full px-8 py-1 inline-block mt-8 transition duration-500 ease-in-out hover:bg-yellow-500 hover:border-yellow-500 transform hover:scale-110 hover\:-translate-y-1">Lebih Lanjut</button>
            </div>
            <div class="w-1/2 p-24 py-32">
                <img src="img1.svg" alt="task">
            </div>
        </div>
        <div class="flex item-center">
            <div class="w-1/2 p-24 py-32">
                <img src="img2.svg" alt="task">
            </div>
            <div class="w-1/2 p-24 py-32">
                <h1 class="text-6xl font-bold leading-none">
                    What we do
                </h1>
                <p class="leading-relaxed mt-6 text-gray-600">
                    Lorem Ipsum is simply dummy text of the <strong>printing</strong> and <strong>typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <button class="border-4 border-yellow-300 font-semibold bg-yellow-300 text-black-700 rounded-full px-8 py-1 inline-block mt-8 transition duration-500 ease-in-out hover:bg-yellow-500 hover:border-yellow-500 transform hover:scale-110 hover\:-translate-y-1">Lebih Lanjut</button>
            </div>

        </div>
        <div class="flex item-center">
            <div class="w-1/2 p-24 py-32">
                <h1 class="text-6xl font-bold leading-none">
                    About Us
                </h1>
                <p class="leading-relaxed mt-6 text-gray-600">
                    Website ini dibuat untuk memenuhi Tugas Besar 3 Strategi Algoritma<br> 13519211 - Muhammad Alfandavi Aryo Utomo <br>13519xxx - Lorem <br>13519xxx - Lorem
                </p>
                <button class="border-4 border-yellow-300 font-semibold bg-yellow-300 text-black-700 rounded-full px-8 py-1 inline-block mt-8 transition duration-500 ease-in-out hover:bg-yellow-500 hover:border-yellow-500 transform hover:scale-110 hover\:-translate-y-1">Lebih Lanjut</button>
            </div>
            <div class="w-1/2 p-24 py-32">
                <img src="img3.svg" alt="task">
            </div>

        </div>
        <div class="flex item-center">
            <div class="w-1/2 p-24 py-32">
                <img src="img4.svg" alt="task">
            </div>
            <div class="w-1/2 p-24 py-32">
                <h1 class="text-6xl font-bold leading-none">
                    Lets Go !
                </h1>
                <p class="leading-relaxed mt-6 text-gray-600">
                    Website ini dibuat untuk memenuhi Tugas Besar 3 Strategi Algoritma<br> 13519211 - Muhammad Alfandavi Aryo Utomo <br>13519xxx - Lorem <br>13519xxx - Lorem
                </p>
                <button class="border-4 border-yellow-300 font-semibold bg-yellow-300 text-black-700 rounded-full px-8 py-1 inline-block mt-8 transition duration-500 ease-in-out hover:bg-yellow-500 hover:border-yellow-500 transform hover:scale-110 hover\:-translate-y-1"
                    onclick="location.href='main.html'">Lets Go</button>
            </div>
        </div>
    </div>
</body>

</html>